* text=auto

/.github           export-ignore
/tests             export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
.php_cs            export-ignore
phpunit.xml.dist   export-ignore
phpunit.php        export-ignore
phpstan.neon       export-ignore
Dockerfile         export-ignore
docker-compose.yml export-ignore
# CHANGELOG.md and CONTRIBUTING.md are kept in the package for user reference
